<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rejuntadosdeinge.com.umenu" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListaSodas"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaPlatos"
            android:label="@string/title_activity_lista_platos"
            android:parentActivityName=".ListaSodas">
        </activity>
        <activity
            android:name=".DetallesSoda"
            android:label="@string/title_activity_detalles_soda"
            android:parentActivityName=".ListaSodas">
        </activity>
        <activity
            android:name=".DetallesPlato"
            android:label="@string/title_activity_detalles_plato"
            android:parentActivityName=".ListaPlatos">
        </activity>
    </application>

</manifest>
